.banner img{
   height: 620px;

}

.logo img{
    
    height: 80px;
}
nav a.active{
    text-decoration: none;
    color: green;
    font-weight: bold;
}
nav a {
    text-decoration: none;
    color: black;
}
.image{
    border-radius: 50%;
    height: 50px;
}