.button{
    width: 25%;
    
    
}
.button:hover{
    background-color: rgb(7, 90, 7);
}
.banner-p{
    margin-top: 7%;
}

@media screen and (max-width: 576px) {
    .banner2 img{
      height: auto;
      width: 100%;
    }
  }